@import url('./_variables.css');
@import url('./_global.css');
@import url('./theme.css');
@import url('./components.css');

#app {
    position: relative;
    width: 100%;
    background-color: whitesmoke;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100svh;
}

.page-auth .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    margin-top: 50%;
}

.page-auth .card {

}

.page-index {
    align-items: center;
    justify-content: center;
}

/** Finances page **/
.page-finances {
    display: flex;
    flex-direction: row;
}

.page-finances__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 5%;
}

.page-finances__content .content-title {
    width: 1075px;
    margin-bottom: 2rem;
}

.page-finances__content .content-title > small {
    font-weight: bold;
    text-transform: uppercase;
    color: #6f6f6f;
}

.page-finances__content .content-title > h1{
    align-self: flex-start;
}

.page-finances .context-menu.opened + svg {
    color: var(--secondary);
}
