@import url('./_variables.css');
@import url('./_global.css');
@import url('./theme.css');

#app {
    position: relative;
    width: 100%;
    background-color: whitesmoke;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100svh;
}

.page-auth .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    margin-top: 50%;
}

.page-auth .card {

}

.page-index {
    align-items: center;
    justify-content: center;
}

/** Finances page **/
.page-finances {
    display: flex;
    flex-direction: row;
}

.page-finances__content {
    flex: 1;
}

/* AlertMessage Component */
.alert-message {
    display: flex;
    align-items: center;
    gap: 1em;

    position: absolute;
    inset: 3rem auto auto 50%;
    transform: translateX(-50%);

    min-width: 600px;
    max-width: 600px;

    animation: 1s show-notification;
}

@keyframes show-notification {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 3rem;
        opacity: 1;
    }
}

/* Sidebar component */
.sidebar {
    display: flex;
    flex-direction: column;

    width: 360px;
    height: 100%;

    background-color: white;
    box-shadow: 5px 0 10px 2px rgba(0, 0, 0, 0.15);
}

.sidebar__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
}

.sidebar__section {
    padding: 8px 16px;
    border-bottom: 1px solid lightgray;
}

.sidebar__section > .title {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary)
}

.sidebar__section.sheets {
    flex: 1;
}

.sidebar__section.sheets .sheets-list {
    margin-top: 8px;
}

.sidebar__section.overview {
    height: 500px;
}

.sidebar__section.overview .overview-list {
    margin-top: 8px;
}

.sidebar__user {
    height: 64px;
    padding: 16px;
}

/** MenuSheetsItem component */
.menu-sheets-item {
    display: flex;
    align-items: center;

    height: 30px;
    margin-inline: -16px;
    padding-inline: 16px;

    cursor: pointer;
}

.menu-sheets-item:hover {
    background-color: var(--primary-highlight);
}

.menu-sheets-item > span {
    margin-left: 16px;
}


.menu-sheets-item.active {
    background-color: var(--primary);
    color: white;
}

.menu-sheets-item.active > span {
    color: white;
}

/** MenuOverviewItem component */
.menu-overview-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
    margin-inline: -16px;
    padding-inline: 16px;

    cursor: pointer;
}

.menu-overview-item__name{
    flex: 0.5;
}

.menu-overview-item__name > span {
    margin-left: 8px;
}

.menu-overview-item__progress {
    flex: 0.2
}

.menu-overview-item__progress .progress {
    width: 60px;
    height: 10px;
    border-radius: 0;
}

.menu-overview-item__sum {
    flex: 0.3;
    text-align: right;
}

/** UserPanel component **/
.user-panel {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-panel__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.1;

    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-color: var(--primary);
    cursor: pointer;
}

.user-panel__photo:hover {
    background-color: var(--primary-highlight);
}

.user-panel__photo > span {
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.user-panel__details {
    flex: 0.8;
    margin-left: 16px;
}

.user-panel__details-name {
    font-weight: bold;
    font-size: 14px;
}

.user-panel__details-email {
    font-size: 12px;
    line-height: 12px;
    color: var(--secondary);
}

.user-panel__action {
    flex: 0.1
}
.user-panel__action > svg {
    color: var(--secondary);
    cursor: pointer;
}


.user-panel__action > svg:hover {
    color: var(--secondary-highlight);
}
