/* AlertMessage Component */
.alert-message {
    display: flex;
    align-items: center;
    gap: 1em;

    position: absolute;
    inset: 3rem auto auto 50%;
    transform: translateX(-50%);

    min-width: 600px;
    max-width: 600px;

    animation: 1s show-notification;
}

@keyframes show-notification {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 3rem;
        opacity: 1;
    }
}

/* Sidebar component */
.sidebar {
    display: flex;
    flex-direction: column;

    width: 360px;
    height: 100%;

    background-color: white;
    box-shadow: 5px 0 10px 2px rgba(0, 0, 0, 0.15);
}

.sidebar__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
}

.sidebar__section {
    padding: 8px 16px;
    border-bottom: 1px solid lightgray;
}

.sidebar__section .section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__section .section__header > small {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary-color)
}

.sidebar__section .section__header svg {
    margin-left: 0.5em;
    cursor: pointer;
    color: var(--btn-secondary-color);
}

.sidebar__section .section__header svg:hover {
    color: var(--btn-secondary-hover-color);
}

.sidebar__section .section__header svg:active:hover {
    color: var(--btn-secondary-active-color);
}

.sidebar__section.sheets {
    flex: 1;
}

.sidebar__section.sheets .sheets-list {
    margin-top: 8px;
}

.sidebar__section.overview {
    height: 500px;
}

.sidebar__section.overview .overview-list {
    margin-top: 8px;
}

.sidebar__user {
    height: 64px;
    padding: 16px;
}

/** MenuSheetsItem component */
.menu-sheets-item {
    display: flex;
    align-items: center;

    height: 30px;
    margin-inline: -16px;
    padding-inline: 16px;

    cursor: pointer;
}

.menu-sheets-item:hover {
    background-color: var(--menu-item-highlight-color);
}

.menu-sheets-item > span {
    margin-left: 16px;
}


.menu-sheets-item.active {
    background-color: var(--menu-item-selected-color);
    color: white;
}

.menu-sheets-item.active > span {
    color: white;
}

/** MenuOverviewItem component */
.menu-overview-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
    margin-inline: -16px;
    padding-inline: 16px;

    cursor: pointer;
}

.menu-overview-item__name{
    flex: 0.5;
}

.menu-overview-item__name > span {
    margin-left: 8px;
}

.menu-overview-item__progress {
    flex: 0.2
}

.menu-overview-item__progress .progress {
    width: 60px;
    height: 10px;
    border-radius: 0;
}

.menu-overview-item__sum {
    flex: 0.3;
    text-align: right;
}

/** UserPanel component **/
.user-panel {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-panel__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.1;

    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-color: var(--primary-color);
    cursor: pointer;
}

.user-panel__photo > span {
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.user-panel__details {
    flex: 0.8;
    margin-left: 16px;
}

.user-panel__details-name {
    font-weight: bold;
    font-size: 14px;
}

.user-panel__details-email {
    font-size: 12px;
    line-height: 12px;
    color: var(--secondary-color);
}

.user-panel__action {
    flex: 0.1
}
.user-panel__action svg {
    color: var(--btn-secondary-color);
    cursor: pointer;
}


.user-panel__action svg:hover {
    color: var(--btn-secondary-hover-color);
}

.user-panel__action svg:active:hover {
    color: var(--btn-secondary-active-color);
}

/**  ExpenseTable component */
.expense-table {
    display: flex;
    flex-direction: column;
}

.expense-table__toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.expense-table__toolbar > button {
    background-color: var(--btn-primary-color);
}

.expense-table__toolbar > button:hover {
    background-color: var(--btn-primary-hover-color);
}

.expense-table__toolbar > button:active:hover {
    background-color: var(--btn-primary-active-color);
}

.expense-table__toolbar > button > svg {
    margin-right: 1rem;
    color: white;
}

.expense-table__toolbar > button > span {
    color: white;
}

.expense-table__toolbar .input-with-icon {
    position: relative;
}

.expense-table__toolbar .input-with-icon  > svg {
    position: absolute;
    inset: 50% 16px auto auto;
    transform: translateY(-50%);

    color: var(--secondary-color);
}

.expense-table__toolbar .input-with-icon input {
    width: 250px;
    padding-right: 50px;
}

.expense-table__toolbar:has(.input-with-icon input:focus) svg[data-icon="magnifying-glass"] {
    color: var(--secondary-highlight-color) !important;
}

.expense-table__table {
    position: relative;
    min-height: 440px;
    max-height: 840px;
    border: 1px solid var(--border-color);
}

.expense-table__table .table {
    margin-bottom: 0;
}

.expense-table__table .table thead > * > * {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--table-header-color);
}

.expense-table__table tbody > * > *  {
    border-width: 0;
}

.expense-table__table tbody > * > th {
    vertical-align: middle;
    font-size: 14px;
}

.expense-table__table tbody > *:nth-child(odd) > * {
    background-color: white;
}

.expense-table__table tbody > *:nth-child(even) > * {
    background-color: var(--table-striped-color);
}

.expense-table__table .table-default-message {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.expense-table__table .table-default-message svg {
    margin: 2rem;
    font-size: 64px;
    color: var(--secondary-color);
}

.expense-table__table .table-default-message h3 {
    color: var(--secondary-color);
}

.expense-table__footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1em;
}

.expense-table__footer .table-paginator {
    display: flex;
}

.expense-table__footer .table-paginator > button {
    background-color: var(--btn-primary-color);
    color: white;
}

.expense-table__footer .table-paginator > button:hover {
    background-color: var(--btn-primary-hover-color);
}

.expense-table__footer .table-paginator > button:active:hover {
    background-color: var(--btn-primary-active-color);
}

.expense-table__footer .table-paginator__page {
    display: flex;
    justify-content: center;
    align-items:center;

    padding-inline: 1rem;
    pointer-events: none;

    font-weight: 500;
    text-transform: uppercase;
    color: var(--black-color);
}

/** ContextMenu component */
.context-menu {
    position: absolute;

    padding: 2px 4px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    list-style-type: none;
    background-color: white;
    z-index: 9999;
}

.context-menu__item {
    display: flex;
    align-items: center;

    padding: 4px 8px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}

.context-menu__item > svg {
    margin-right: 8px;
}

.context-menu__item > span {
    width: 150px;
}

.context-menu__item:hover {
    background-color: #eee;
}

.context-menu__item.disabled {
    opacity: 0.5;
    pointer-events: none;
}
