body {
    background-color: whitesmoke;
}

.container-fluid {
    padding: 0;
}

.row,
.row>* {
    margin-inline: 0;
    padding-inline: 0;
}

.card,
.btn,
.alert,
.badge,
.tooltip-inner,
.form-control,
.input-group-text,
.form-check-input[type="checkbox"] {
    border-radius: 0;
}

label.form-label {
    font-size: 0.8rem;
}



@media (min-width: 2200px) {
    #app .col-xxl-3 {
        width: calc(1000%/60);
    }
}

